.board {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 20px;
}
.column {
    flex: 1;
    min-width: 300px;
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 10px;
}
.column h2 {
    text-align: center;
    margin-bottom: 10px;
}
.order-card {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    padding: 10px;
}
.order-card form {
    display: inline;
}
.order-card select {
    margin-top: 10px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.order-actions {
    text-align: right;
    margin-top: 10px;
}
.order-actions input {
    background-color: #e74c3c;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

h1, h2 {
    color: #333;
}
body {
    background-color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

header {
    background-color: #000000;
    width: 200px; /* Definir a largura do menu */
    position: fixed; /* Tornar o menu fixo na lateral esquerda */
    height: 100vh; /* Ocupa toda a altura da tela */
    padding: 20px; /* Espaçamento interno */
    box-sizing: border-box; /* Inclui o padding na largura e altura */
}

main {
    margin-left: 220px; /* Criar espaço para o menu na lateral esquerda */
    padding: 20px;
    flex-grow: 1; /* Permitir que o conteúdo principal ocupe o espaço restante */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    display: block; /* Exibir itens do menu um abaixo do outro */
    text-decoration: none;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #0056b3;
}

form {
    margin-bottom: 20px;
}
input, textarea, select {
    
    margin-bottom: 10px;
    padding: 8px;
    
}
button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #886c21;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

.menu-items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

#order-summary {
    margin-top: 20px;
}

#place-order {
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
