{% extends "base.html" %}
{% block title %}Clients{% endblock %}
{% block content %}
<h1>Clients</h1>
<div class="board">
    <div class="column">
        <h1>New client</h1>
        <form action="/clients" method="POST">
            <input type="text" name="client_name" placeholder="Client Name" required>
            <input type="text" name="address" placeholder="address" required>
            <input type="tel" name="phone" placeholder="Phone" required>
            <button type="submit">Create Client</button>
        </form>

        <h1>Clients list</h1>
        <ul>
            
            {% for client in clients %}
            <div class="order-card">
                <li>
                    <form action="/clients/{{ client.id }}/update" method="POST">
                        <input type="text" name="client_name" value="{{ client.client_name }}" required>
                        <input type="text" name="address" value="{{ client.address }}" required>
                        <input type="text" name="phone" value="{{ client.phone }}" required>
                        <button type="submit">Update</button>
                    </form>
                    <form action="/clients/{{ client.id }}/delete" method="POST" style="display:inline;">
                        <button type="submit">Delete</button>
                    </form>
                </li>
            </div>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
