{% extends "base.html" %}
{% block title %}Order Management{% endblock %}
{% block content %}
<div id="container">
    <h2>Order Management</h2>
    <form action="/orders" method="POST">
        <select name="client_id" required>
            <option value="" disabled selected>Select Client</option>
            {% for client in clients %}
            <option value="{{ client.id }}">{{ client.client_name }}</option>
            {% endfor %}
        </select>
        <input type="date" name="date" required>
        <input type="number" name="value" placeholder="Value" min="0,01" step="any" required>
        <textarea name="description" placeholder="Order Description" required></textarea>
        <select name="order_type" required>
            <option value="Entrada">Entrada</option>
            <option value="Saída">Saída</option>
        </select>
        <button type="submit">Create Order</button>
    </form>
</div>

{% endblock %}
